<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="connection.driver">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/sampledb17</property>
		<property name="connection.username">root</property>
		<property name="connection.password">mouqi123</property>
		<!-- 为了保持兼容性，设置为false.解释在网址：https://access.redhat.com/documentation/en-US/JBoss_Enterprise_Application_Platform/6.3/html/Migration_Guide/Preserve_the_Existing_Behavior_of_the_Hibernate_Identity_Auto_Generated_Value1.html -->
		<property name="hibernate.id.new_generator_mappings">false</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.forum.domain.Board" />
		<mapping class="com.forum.domain.User"/>
		<mapping class="com.forum.domain.LoginLog"/>
		<mapping class="com.forum.domain.Post"/>
		<mapping class="com.forum.domain.MainPost"/>
		<mapping class="com.forum.domain.Topic"/>
	</session-factory>
</hibernate-configuration>